@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, 
body {
  font-family: 'Pacifico', sans-serif;
  background-color: whitesmoke;
}

h1 {
  color: #ffc20c;
  font-size: 120px;
  line-height: 150%;
  width: 500px;
  height: 300px;
  left: 45px;
  position: absolute;
}
