@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 
body {
  font-family: 'Pacifico', sans-serif;
  background-color: whitesmoke;
  background:
    radial-gradient(pink 3px, transparent 4px),
    radial-gradient(pink 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, pink 75px, pink 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, pink 76px, 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.fun {
  display: flex;
  margin: auto;
  flex-flow: column nowrap;
  align-items: center;
}

h1 {
  color: #ffc20c;
  font-size: 120px;
  line-height: 150%;
  margin-bottom: 200px;
  width: 500px;
  height: 300px;
  transform: rotate(-30deg);
}

img {
  margin: 10px;
  width: 800px;
  border-radius: 25px;
  border: 8px solid #ffc20c;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  margin-top: auto;
  background-color: pink;
  padding: 5px;
}
